APP_NAME="APP_NAME_HERE"
DEBUG=False
SECRET_KEY="YOUR_SECRET_KEY_HERE"
ALGORITHM="ANY_ALGORITHM_YOU_WANT"
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL="YOUR_DATABASE_URL"
REDIS_URL="redis://YOUR_REDIS_URL"
REDIS_CACHE_TTL_SECONDS=300